button {
    padding: 0.8em;
    border: 1.5px solid grey;
    border-radius: 4px;
    background-color: rgb(230, 230, 255);
    margin-bottom: 1em;  
}

td {
    height: 25px;
    width: 25px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 4px;
    background-color: blanchedalmond;
}

table {
    border-spacing: 15px;
    margin-left: -15px;
}
